!!! 5

%html.no-js{:lang => "en"}

  %head

    -# ==========================================================================
    -# Head
    -# ==========================================================================

    %meta{:charset => "utf-8"}

    %title
    %meta{:name => "description", :content => ""}

    -# Mobile
    -# ==========================================================================

    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

    -# Favicon
    -# ==========================================================================

    %link{:href => "/favicon.ico", :rel => "shortcut icon"}

    -# CSS
    -# ==========================================================================

    %link{:rel => "stylesheet", :href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" }
    %style
      = ".folio-list-item {cursor: pointer;}"
      = ".folio-list-item > .panel-body > img {width: 100%;}"
      = ".modal-body > img {width: 100%;}"


  %body

    -# ==========================================================================
    -# Content
    -# ==========================================================================

    .container
      .row
        %h1 Holly's Website

      .row

        - 1.upto(10).each do |n|

          .col-sm-3
            .panel.panel-default.folio-list-item{ 'data-toggle' => 'modal', 'data-target' => "#modal-#{ n }" }
              .panel-heading
                = "Title #{ n }"
              .panel-body
                %img{ src: 'http://www.naturepictures.co/wp-content/uploads/2014/08/night_landscape2.jpg' }
                %p Some copy to go with it.
                .meta
                  %small Fashion | Jan 2012

    -# ==========================================================================
    -# Modals
    -# ==========================================================================

    - 1.upto(10).each do |n|

      .modal.fade{ id: "modal-#{ n }" }
        .modal-dialog
          .modal-content
            .modal-header
              %button{ class: 'close', 'data-dismiss' => 'modal' } &times;
              %h3.modal-title= "Title #{ n }"
            .modal-body
              %img{ src: 'http://www.naturepictures.co/wp-content/uploads/2014/08/night_landscape2.jpg' }
              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    -# JS
    -# ==========================================================================

    -# jQuery

    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"}

    -# Custom JS

    -# %script{:src => "/js/app.js"}

    -#
    -# Asynchronous Google Analytics
    -# Change UA-XXXXX-X to be your site's ID
    -# mathiasbynens.be/notes/async-analytics-snippet
    -#

    -# :javascript
        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
        s.parentNode.insertBefore(g,s)}(document,'script'));